<%- include ('partials/_header')  %>
<div class="d-flex justify-content-center">
    <iframe
        allow="microphone;"
        width="850"
        height="920"
        src="https://console.dialogflow.com/api-client/demo/embedded/73773342-bea4-43e0-9065-454bcd9f2f31">
    </iframe>
</div>
<%- include ('partials/_footer')  %>