<%- include ('partials/_header')  %>
<div class="w3-content" style="max-width:1400px">

    <!-- Header -->
    <header class="w3-container w3-center w3-padding-32"> 
      <h1><b>KYAV Health</b></h1>
      <p>Bienvenido a nuestra web <span class="w3-tag">KYAV Health</span></p>
    </header>
    
    <!-- Grid -->
    <div class="w3-row">
    
    <!-- Blog entries -->
    <div class="w3-col l8 s12">
      <!-- Blog entry -->
      <div class="w3-card-4 w3-margin w3-white">
        <img src="https://i.pinimg.com/originals/fc/bd/0a/fcbd0aeee7a48471e7907aded90ac839.jpg" alt="Nature" style="width:100%">
        <div class="w3-container">
          <h3><b>KYAV Health</b></h3>
        </div>
    
        <div class="w3-container">
          <p>KYAV Health es una plataforma online que busca apoyar a los usuarios a encontrar remedios caseros para enfermedades tipcas de estaciones invernales, proporcionando una interfaz web, que le permita a los usuarios encontrar clinicas cercanas, un foro con remedios caseros y un chatbot que proporcione algunos remedios caseros.</p>
        </div>
      </div>
    
    </div>
    
    <!-- Introduction menu -->
    <div class="w3-col l4">
      <!-- About Card -->
      <div class="w3-card w3-margin w3-margin-top">
      <img src="https://scontent.fmex33-1.fna.fbcdn.net/v/t1.6435-9/104157089_4014092165327524_7891152570701112760_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeH2-K89TZrJ5jvkLlzwJYRtXMwDJH679gtczAMkfrv2C0Dv9SQiD1TIxd4fmGnvPRxj4IQAGIr-gHdX0lyRWomN&_nc_ohc=gGO7YtbGlFYAX8WjNnJ&_nc_ht=scontent.fmex33-1.fna&oh=63e5e241e05c0595db86d8913a59133e&oe=60DCA0B4" style="width:20%">
        <div class="w3-container w3-white">
          <h6><b>Aguilar Pacheco Kevin David</b></h6>
        </div>
      </div>
      <div class="w3-card w3-margin w3-margin-top">
        <img src="https://scontent.fmex33-1.fna.fbcdn.net/v/t1.6435-9/135703957_3925750707476681_5330186347722513475_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeE_3aA_5ovIYYMm_UONTU-VddkZLHAsVON12RkscCxU416yqu_QwuUrxNLSgS6jMczwpfyOPNQkrEL-birgoZu8&_nc_ohc=FTmxqklKnzEAX_9ivoS&_nc_ht=scontent.fmex33-1.fna&oh=4ab3851a5edd9c7bc75120d40c3b0fce&oe=60DB829C" style="width:20%">
          <div class="w3-container w3-white">
            <h6><b>Arrieta Chavez Josue</b></h6>
          </div>
       </div>
       <div class="w3-card w3-margin w3-margin-top">
        <img src="https://scontent.fmex33-1.fna.fbcdn.net/v/t31.18172-8/27788377_1834803789927633_1810661999228777584_o.jpg?_nc_cat=104&ccb=1-3&_nc_sid=174925&_nc_eui2=AeGNDe2vecSZPUrGlXv2E6weS_I2CDlfPZ1L8jYIOV89nbfuFShiOS-4G6Aj34W8y8Q7bmjwRK1BIHbq2Y4Pz1Cr&_nc_ohc=k7BPoDasSoIAX9kj53y&_nc_ht=scontent.fmex33-1.fna&oh=f01f7b37bfb84cb9e8e65ce009999efe&oe=60E6328E" style="width:20%"/>
          <div class="w3-container w3-white">
            <h6><b>Sanchez Tirado Citlalli Yasmin</b></h6>
          </div>
       </div>
       <div class="w3-card w3-margin w3-margin-top">
        <img src="https://scontent.fmex33-1.fna.fbcdn.net/v/t1.6435-9/67124140_1210923905756276_6300334341645926400_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeEgVrCteF7wMnq0OF7e5SoJDNsnDiSuKb0M2ycOJK4pvToSH7bPFIOzuqxzbPYR5Zjjv7fFFrgv1zA9nPnjIavA&_nc_ohc=4pMUKPNj6iMAX9Yt-Lz&_nc_ht=scontent.fmex33-1.fna&oh=9b49a3162e84cd5b3b00fcccdb99a67a&oe=60DC28B7" style="width:20%"/>
          <div class="w3-container w3-white">
            <h6><b>Villena Santiago Carlos Daniel</b></h6>
          </div>
       </div>
        
      <hr>
      
    <!-- END Introduction Menu -->
    </div>
    
    <!-- END GRID -->
    </div><br>
    
    <!-- END w3-content -->
    </div>
    
    <!-- Footer -->

<%- include ('partials/_footer')  %>