<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KYAV Health</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/index">KYAV</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav">
      <li><a class="nav-item nav-link active" href="/index">Home</a></li>
      <li></li><a class="nav-item nav-link" href="/map">Maps</a></li>
      <li></li><a class="nav-item nav-link" href="/foro">Foro</a></li>
      <li></li><a class="nav-item nav-link" href="/chatbot">Chatbot</a></li>
      <% if (Object.keys(data).length == 0){ %>
        <li></li><a class="nav-item nav-link" href="/login">Login</a></li>
      <% }else{ %>
        <li></li><a class="nav-item nav-link" href="/salir">Salir</a></li>
      <% } %>
      </ul>
  </div>
</nav>
      